* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for Form */
.container {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

/* Form Title */
.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c3e50;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Input Fields with Icons */
.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #bdc3c7;
}

.input-icon input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Padding added for space for icons */
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    color: #2c3e50;
    background-color: #ecf0f1;
}

.input-icon input:focus {
    border-color: #2980b9;
    outline: none;
}

/* Button Styling */
.btn {
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3498db;
}

/* Link */
.signup-form p {
    text-align: center;
    margin-top: 20px;
}

.signup-form a {
    color: #2980b9;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}