<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/styles/style_flashcardGame.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-image: url('/static/images/bg-pic.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }


        .hidden {
            display: none;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-center mb-8" id="categoryTitle"></h1>

        <div class="hidden mt-8" id="flashcards">

            <div class="text-center" id="flashcardContainer"></div>

            <div class="flex justify-between items-center mb-4">
                <!-- Left Arrow -->
                <i class="left-arrow fas fa-arrow-left text-violet-900 text-6xl cursor-pointer hover:scale-110 hover:text-violet-400 transition-transform duration-200 ease-in-out"
                    onclick="prevFlashcard()"></i>

                <!-- Right Arrow -->
                <i class="right-arrow fas fa-arrow-right text-violet-900 text-6xl cursor-pointer hover:scale-110 hover:text-violet-400 transition-transform duration-200 ease-in-out"
                    onclick="nextFlashcard()"></i>
            </div>
        </div>
        <button
            class="back-button bg-red-500 text-white px-6 py-3 rounded-md text-center font-semibold shadow-lg hover:bg-red-600 hover:shadow-xl transition-all duration-300 ease-in-out"
            onclick="goBack()" onclick="goBack()">BACK TO FLASHCARDS</button>

        <div class="hidden mt-8" id="assessment">
            <h2 class="match_text text-2xl font-bold text-center">TIME TO PLAY: CHOOSE THE SIMILAR</h2>
            <div id="questionContainer" class="question text-center"></div>
            <div id="optionsContainer" class="option flex justify-center mt-4"></div>
            <div id="feedbackMessage" class="message text-4xl font-bold mt-4"></div>

        </div>

        <div class="hidden mt-8" id="results">
            <div class="bg-white p-6 rounded-lg shadow-lg mx-auto max-w-md">
                <div class="text-center mb-4">
                    <p class="match_text text-2xl font-bold">You have completed the assessment!</p>
                    <br>
                    <p class="match_text text-2xl font-bold">Assessment Results</p>
                </div>
                <div class="text-center">
                    <p class="text-xl" id="correctCount"></p>
                    <p class="text-xl" id="incorrectCount"></p>
                </div>
                <canvas id="scoreChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        const flashcardsData = {
            letters: [
                { text: 'A', img: '/static/images/alphabets/a.jpg' },
                { text: 'B', img: '/static/images/alphabets/b.jpg' },
                { text: 'C', img: '/static/images/alphabets/c.jpg' },
                { text: 'D', img: '/static/images/alphabets/d.jpg' },
                { text: 'E', img: '/static/images/alphabets/e.jpg' },
                { text: 'F', img: '/static/images/alphabets/f.jpg' },
                { text: 'G', img: '/static/images/alphabets/g.jpg' },
                { text: 'H', img: '/static/images/alphabets/h.jpg' },
                { text: 'I', img: '/static/images/alphabets/i.jpg' },
                { text: 'J', img: '/static/images/alphabets/j.jpg' },
                { text: 'K', img: '/static/images/alphabets/k.jpg' },
                { text: 'L', img: '/static/images/alphabets/l.jpg' },
                { text: 'M', img: '/static/images/alphabets/m.jpg' },
                { text: 'N', img: '/static/images/alphabets/n.jpg' },
                { text: 'O', img: '/static/images/alphabets/o.jpg' },
                { text: 'P', img: '/static/images/alphabets/p.jpg' },
                { text: 'Q', img: '/static/images/alphabets/q.jpg' },
                { text: 'R', img: '/static/images/alphabets/r.jpg' },
                { text: 'S', img: '/static/images/alphabets/s.jpg' },
                { text: 'T', img: '/static/images/alphabets/t.jpg' },
                { text: 'U', img: '/static/images/alphabets/u.jpg' },
                { text: 'V', img: '/static/images/alphabets/v.jpg' },
                { text: 'W', img: '/static/images/alphabets/w.jpg' },
                { text: 'X', img: '/static/images/alphabets/x.jpg' },
                { text: 'Y', img: '/static/images/alphabets/y.jpg' },
                { text: 'Z', img: '/static/images/alphabets/z.jpg' }
            ],
            numbers: [
                { text: '0', img: '/static/images/numbers/0.jpg' },
                { text: '1', img: '/static/images/numbers/1.jpg' },
                { text: '2', img: '/static/images/numbers/2.jpg' },
                { text: '3', img: '/static/images/numbers/3.jpg' },
                { text: '4', img: '/static/images/numbers/4.jpg' },
                { text: '5', img: '/static/images/numbers/5.jpg' },
                { text: '6', img: '/static/images/numbers/6.jpg' },
                { text: '7', img: '/static/images/numbers/7.jpg' },
                { text: '8', img: '/static/images/numbers/8.jpg' },
                { text: '9', img: '/static/images/numbers/9.jpg' },
                { text: '10', img: '/static/images/numbers/10.jpg' }
            ],
            animals: [
                { text: 'rabbit', img: '/static/images/animals/rabbit.jpg' },
                { text: 'bear', img: '/static/images/animals/bear.jpg' },
                { text: 'aligator', img: '/static/images/animals/aligator.jpg' },
                { text: 'deer', img: '/static/images/animals/deer.jpg' },
                { text: 'zebra', img: '/static/images/animals/zebra.jpg' },
                { text: 'lion', img: '/static/images/animals/lion.jpg' },
                { text: 'tiger', img: '/static/images/animals/tiger.jpg' },
                { text: 'panda', img: '/static/images/animals/panda.jpg' },
                { text: 'cheetah', img: '/static/images/animals/cheetah.jpg' },
                { text: 'fox', img: '/static/images/animals/fox.jpg' },
                { text: 'cow', img: '/static/images/animals/cow.jpg' },
                { text: 'elephant', img: '/static/images/animals/elephant.jpg' },
                { text: 'sheep', img: '/static/images/animals/sheep.jpg' },
                { text: 'monkey', img: '/static/images/animals/monkey.jpg' },
                { text: 'leopard', img: '/static/images/animals/leopard.jpg' },
                { text: 'horse', img: '/static/images/animals/horse.jpg' },
                { text: 'gorilla', img: '/static/images/animals/gorilla.jpg' },
                { text: 'donkey', img: '/static/images/animals/donkey.jpg' },
                { text: 'goat', img: '/static/images/animals/goat.jpg' },
                { text: 'giraffe', img: '/static/images/animals/giraffe.jpg' }
            ],
            fruits: [
                { text: 'Apple', img: '/static/images/fruits/apple.jpg' },
                { text: 'Banana', img: '/static/images/fruits/banana.jpg' },
                { text: 'Cherry', img: '/static/images/fruits/cherry.jpg' },
                { text: 'Grapes', img: '/static/images/fruits/grapes.jpg' },
                { text: 'Mango', img: '/static/images/fruits/mango.jpg' },
                { text: 'Kiwi', img: '/static/images/fruits/kiwi.jpg' },
                { text: 'Pear', img: '/static/images/fruits/pear.jpg' },
                { text: 'Papaya', img: '/static/images/fruits/papaya.jpg' },
                { text: 'Pineapple', img: '/static/images/fruits/pineapple.jpg' },
                { text: 'Watermelon', img: '/static/images/fruits/watermelon.jpg' },
                { text: 'Avocado', img: '/static/images/fruits/avocado.jpg' },
                { text: 'Guava', img: '/static/images/fruits/guava.jpg' },
                { text: 'Plum', img: '/static/images/fruits/plum.jpg' },
                { text: 'Blueberry', img: '/static/images/fruits/blueberry.jpg' },
                { text: 'Blackberry', img: '/static/images/fruits/blackberry.jpg' }
            ],
            food: [
                { text: 'cake', img: '/static/images/foods/cake.jpg' },
                { text: 'sandwich', img: '/static/images/foods/sandwich.jpg' },
                { text: 'cookies', img: '/static/images/foods/cookies.jpg' },
                { text: 'milk', img: '/static/images/foods/milk.jpg' },
                { text: 'candies', img: '/static/images/foods/candies.jpg' },
                { text: 'chips', img: '/static/images/foods/chips.jpg' },
                { text: 'tea', img: '/static/images/foods/tea.jpg' },
                { text: 'noodles', img: '/static/images/foods/noodles.jpg' },
                { text: 'icecream', img: '/static/images/foods/ice cream.jpg' },
                { text: 'fries', img: '/static/images/foods/fries.jpg' },
                { text: 'pizza', img: '/static/images/foods/pizza.jpg' },
                { text: 'juice', img: '/static/images/foods/juice.jpg' },
                { text: 'cheese', img: '/static/images/foods/cheese.jpg' },
                { text: 'chocolate', img: '/static/images/foods/chocolate.jpg' },
                { text: 'soup', img: '/static/images/foods/soup.jpg' }
            ],
            school: [
                { text: 'Notebook', img: '/static/images/school/notebook.jpg' },
                { text: 'Pencil', img: '/static/images/school/pencil.jpg' },
                { text: 'Eraser', img: '/static/images/school/eraser.jpg' },
                { text: 'Ruler', img: '/static/images/school/ruler.jpg' },
                { text: 'Backpack', img: '/static/images/school/backpack.jpg' },
                { text: 'Bookcase', img: '/static/images/school/bookcase.jpg' },
                { text: 'calculator', img: '/static/images/school/calculator.jpg' },
                { text: 'calendar', img: '/static/images/school/calendar.jpg' },
                { text: 'chair', img: '/static/images/school/chair.jpg' },
                { text: 'chalkboard', img: '/static/images/school/chalkboard.jpg' },
                { text: 'color pencils', img: '/static/images/school/color pencils.jpg' },
                { text: 'desk', img: '/static/images/school/desk.jpg' },
                { text: 'globe', img: '/static/images/school/globe.jpg' },
                { text: 'glue', img: '/static/images/school/glue.jpg' },
                { text: 'marker', img: '/static/images/school/marker.jpg' },
                { text: 'paint set', img: '/static/images/school/paint set.jpg' },
                { text: 'Paper clip', img: '/static/images/school/paper clip.jpg' },
                { text: 'pen', img: '/static/images/school/pen.jpg' },
                { text: 'school bus', img: '/static/images/school/school bus.jpg' },
                { text: 'school', img: '/static/images/school/school.jpg' },
                { text: 'scissors', img: '/static/images/school/scissors.jpg' },
                { text: 'whiteboard', img: '/static/images/school/whiteboard.jpg' }
            ],
            toys: [
                { text: 'Ball', img: '/static/images/toys/ball.jpg' },
                { text: 'Balloons', img: '/static/images/toys/balloons.jpg' },
                { text: 'Bicycle', img: '/static/images/toys/bicycle.jpg' },
                { text: 'Blocks', img: '/static/images/toys/blocks.jpg' },
                { text: 'Boat', img: '/static/images/toys/boat.jpg' },
                { text: 'Car', img: '/static/images/toys/car.jpg' },
                { text: 'Doll', img: '/static/images/toys/doll.jpg' },
                { text: 'Robot', img: '/static/images/toys/robot.jpg' },
                { text: 'Scooter', img: '/static/images/toys/scooter.jpg' },
                { text: 'Skateboard', img: '/static/images/toys/skateboard.jpg' },
                { text: 'Toy Truck', img: '/static/images/toys/toy truck.jpg' },
                { text: 'Train', img: '/static/images/toys/train.jpg' }
            ],
            vegetables: [
                { text: 'Carrot', img: '/static/images/vegetables/carrot.jpg' },
                { text: 'Eggplant', img: '/static/images/vegetables/eggplant.jpg' },
                { text: 'Tomato', img: '/static/images/vegetables/tomato.jpg' },
                { text: 'Potato', img: '/static/images/vegetables/potato.jpg' },
                { text: 'Cucumber', img: '/static/images/vegetables/cucumber.jpg' },
                { text: 'Lemon', img: '/static/images/vegetables/lemon.jpg' },
                { text: 'Lettuce', img: '/static/images/vegetables/lettuce.jpg' },
                { text: 'Onion', img: '/static/images/vegetables/onion.jpg' },
                { text: 'Corn', img: '/static/images/vegetables/corn.jpg' },
                { text: 'Chilli', img: '/static/images/vegetables/chilli.jpg' },
                { text: 'Pumpkin', img: '/static/images/vegetables/pumpkin.jpg' },
                { text: 'Bitter Gourd', img: '/static/images/vegetables/bitter gourd.jpg' },
                { text: 'Turnip', img: '/static/images/vegetables/turnip.jpg' },
                { text: 'Cabbage', img: '/static/images/vegetables/cabbage.jpg' }
            ]
        };

        let currentCategory = [];
        let currentIndex = 0;
        let score = { correct: 0, incorrect: 0 };
        let currentQuestionIndex = 0;
        let currentQuestion = null;
        let totalQuestions = 5;
        let questionsAnswered = 0;

        const urlParams = new URLSearchParams(window.location.search);
        const category = urlParams.get('category');

        function init() {
            if (category && flashcardsData[category]) {
                currentCategory = flashcardsData[category];
                currentIndex = 0;
                document.getElementById('flashcards').classList.remove('hidden');
                document.getElementById('flashcardContainer').innerHTML = generateFlashcardHTML(currentCategory[currentIndex]);
            } else {
                alert('Invalid category!');
                window.location.href = "{{url_for('flashcardGame')}}";
            }
        }

        function generateFlashcardHTML(flashcard) {
            return `
        <div class="p-5 text-center">
          <img alt="Flashcard with ${flashcard.text}" class="generate_card mx-auto mb-2" height="150" src="${flashcard.img}" width="190"/>
        </div>
      `;
        }

        function nextFlashcard() {
            if (currentIndex < currentCategory.length - 1) {
                currentIndex++;
                document.getElementById('flashcardContainer').innerHTML = generateFlashcardHTML(currentCategory[currentIndex]);
                pronounce(currentCategory[currentIndex].text);
            } else {
                startAssessment();
            }
        }

        function prevFlashcard() {
            if (currentIndex > 0) {
                currentIndex--;
                document.getElementById('flashcardContainer').innerHTML = generateFlashcardHTML(currentCategory[currentIndex]);
                pronounce(currentCategory[currentIndex].text);
            }
        }

        function goBack() {
            window.location.href = "{{url_for('flashcardGame')}}";
        }

        function pronounce(text) {
            const utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
            document.getElementById('pronouncedText').innerText = text;
        }

        function startAssessment() {
            document.getElementById('flashcards').classList.add('hidden');
            document.getElementById('assessment').classList.remove('hidden');
            currentQuestionIndex = 0;
            score = { correct: 0, incorrect: 0 };
            nextQuestion();
        }

        function nextQuestion() {
            if (questionsAnswered >= totalQuestions) {
                displayResults();
                return;
            }

            currentQuestion = getRandomFlashcard();
            displayQuestion(currentQuestion);
            questionsAnswered++;
        }

        function getRandomFlashcard() {
            const randomIndex = Math.floor(Math.random() * currentCategory.length);
            return currentCategory[randomIndex];
        }

        function displayQuestion(question) {
            document.getElementById('questionContainer').innerHTML = `
        <img alt="Flashcard" class="mx-auto mb-2" height="150" src="${question.img}" width="150"/>
      `;
            displayOptions(question);
        }

        function displayOptions(correctQuestion) {
            const options = [correctQuestion];
            while (options.length < 4) {
                const randomOption = getRandomFlashcard();
                if (!options.includes(randomOption)) {
                    options.push(randomOption);
                }
            }
            options.sort(() => Math.random() - 0.5);

            const optionsContainer = document.getElementById('optionsContainer');
            optionsContainer.innerHTML = '';
            options.forEach(option => {
                const button = document.createElement('button');
                button.className = 'bg-white-500 px-4 py-2 w-30 h-40 rounded mx-2 flex flex-col items-center';
                button.onclick = () => checkAnswer(option, correctQuestion);

                const img = document.createElement('img');
                img.src = option.img;
                img.alt = option.text;
                img.className = 'h-20 w-20 mb-2';

                button.appendChild(img);
                optionsContainer.appendChild(button);
            });
        }

        function checkAnswer(selectedOption, correctQuestion) {
            const feedbackMessage = document.getElementById('feedbackMessage');
            if (selectedOption.text === correctQuestion.text) {
                score.correct++;
                feedbackMessage.innerText = "Correct!";
                feedbackMessage.style.color = "green";
            } else {
                score.incorrect++;
                feedbackMessage.innerText = "Incorrect!";
                feedbackMessage.style.color = "red";
            }

            setTimeout(() => {
                feedbackMessage.innerText = "";
                nextQuestion();
            }, 1000);
        }

        function displayResults() {
            document.getElementById('assessment').classList.add('hidden');
            document.getElementById('results').classList.remove('hidden');
            document.getElementById('correctCount').innerText = `Correct Answers: ${score.correct}`;
            document.getElementById('incorrectCount').innerText = `Incorrect Answers: ${score.incorrect}`;

            const canvas = document.getElementById('scoreChart');
            const ctx = canvas.getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Correct', 'Incorrect'],
                    datasets: [{
                        label: 'Score',
                        data: [score.correct, score.incorrect],
                        backgroundColor: ['#36A2EB', '#FF6384'],
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });

            sendScoreToBackend(score.correct, "Flashcard");
        }

        function sendScoreToBackend(score, gameType) {
            fetch('/submit_score', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ score: score, game_type: gameType })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Score saved:', data);
                })
                .catch(error => {
                    console.error('Error saving score:', error);
                });
        }

        function hideResults() {
            document.getElementById('results').classList.add('hidden');
            goBack();
        }

        window.onload = init;
    </script>
</body>

</html>