<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectrum Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id=""logo>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#autism-info">What is Autism?</a></li>
                    <li><a href="#spectrum-care">About Us</a></li>
                    <li><a href="#contact-section">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <video id="hero-video" autoplay muted loop>
                <source src="{{ url_for('static', filename='images/baby_video.mp4') }}" type="video/mp4">
            </video>

            <div class="text-overlay">
                <h1>SPECTRUM CARE</h1>
                <p>Empowering Early Autism Detection and Personalized Care</p>
            </div>
        </div>
    </section>

    <section class="quote">
        <div class="container">
             <img src="{{ url_for('static', filename='images/pic 5.jpg') }}" alt="Image" class="quote-image">

        </div>
    </section>


    <section id="autism-info" class="autism-info">
    <div class="container">
        <h2>Autism Information and Support</h2>
        <div class="info-grid">
            <a href="{{ url_for('autismInfo') }}" class="info-card-link">
            <div class="info-card1">
                <img src="{{ url_for('static', filename='images/autism1.jpg') }}" alt="Child Playing" class="info-image">
                <h3>What is Autism?</h3>

                <p>Learn more about Autism Spectrum Disorder</p>
            </div>
        </a>
            
        <a href="{{ url_for('autismSigns') }}" class="info-card-link">
            <div class="info-card2">
                <img src="{{ url_for('static', filename='images/autism2.jpg') }}" alt="Child Playing" class="info-image">
                <h3>Signs of Autism</h3>

                <p>Learn the signs of autism</p>
            </div>
        </a>
        <a href="{{ url_for('detectArticle') }}" class="info-card-link">
            <div class="info-card3">
                <img src="{{ url_for('static', filename='images/autism3.jpg') }}" alt="Child Playing" class="info-image">
                <h3>Early Detection and Intervention</h3>
                <p>Learn why it should be early intervened</p>
            </div>
        </a>
        </div>
    </div>
          <div class="container">
        <h2>Why we call it as Spectrum Care?</h2>
        <div class="spectrum-content">
            <img src="{{ url_for('static', filename='images/spectrum.jpg') }}" alt="Autism Spectrum Explanation">
            <p>Autism is known as a “spectrum” disorder because there is wide variation in the type and severity of symptoms people experience.</p>
            <p>And here we are caring for that spectrum...</p>
        </div>
    </div>
    </section>

        <section id="spectrum-care" class="spectrum-care">
        <div class="container">
            <div class="content-wrapper">
                <div class="text-content">
                    <h2>What we do?</h2>
                    <p>At Spectrum Care, our mission is to revolutionize the way autism is detected and treated. We believe that early and accurate detection is crucial for providing children with the support they need to thrive. Through the use of cutting-edge eye-tracking and facial image analysis technology, combined with personalized intervention plans, we aim to make a meaningful difference in the lives of children and their families.</p>
                </div>
                <div class="image-content">
                    <img src="{{ url_for('static', filename='images/parent.jpg') }}" alt="Autism Spectrum Explanation">
                </div>
            </div>
        </div>
    </section>

<section class="step-by-step">
    <div class="container">
      <h2>Step by Step Process</h2>
      <div class="step-grid"> <div class="step-item">
        <a href="{{ url_for('signup') }}">
          <img src="{{ url_for('static', filename='images/profile-icon.jpg') }}" alt="Profile Icon">
        </a>
          <p>Create a profile<br><br>Start by creating a profile for the child.</p>
        </div>
        <div class="step-item">
            <a href="{{ url_for('login') }}">
          <img src="{{ url_for('static', filename='images/analysis.jpg') }}" alt="Detection Icon">
          </a>
          <p>Take an analysis by detection<br><br>Do detection of autism by eye tracking and facial images analysis.</p>
         
        </div>
        <div class="step-item">
            <a href="{{ url_for('login') }}">
          <img src="{{ url_for('static', filename='images/results.jpg') }}" alt="Results Icon">
          </a>
          <p>Get results<br><br>Receive a detailed report with insights and recommendations.</p>
        </div>
        <div class="step-item">
            <a href="{{ url_for('login') }}">
          <img src="{{ url_for('static', filename='images/interventions.jpg') }}" alt="Intervention Icon">
          </a>
          <p>Start intervention<br><br>Begin personalized intervention based on the assessment.</p>
        </div>
      </div>
    </div>
</section>


    <section class="testimonials">
    <div class="container">
        <h2>TESTIMONIALS</h2>
        <h3>Parent Recommends</h3>
        <div class="testimonial-grid">
            <div class="testimonial-item">
                <img src="{{ url_for('static', filename='images/quotes.jpg') }}" alt="quote">
                <p class="author">Angie S.</p>
                <p class="line">----------------------</p>
                <p class="quote">“I’m a testimonial. Click to edit me and add text that says something nice about you and your services.”</p>

            </div>
            <div class="testimonial-item">
                <img src="{{ url_for('static', filename='images/quotes.jpg') }}" alt="quote">
                <p class="author">Luke M.</p>
                 <p class="line">----------------------</p>
                <p class="quote">“I’m a testimonial. Click to edit me and add text that says something nice about you and your services.”</p>

            </div>
            <div class="testimonial-item">
                <img src="{{ url_for('static', filename='images/quotes.jpg') }}" alt="quote">
                 <p class="author">Michelle B.</p>
                <p class="line">----------------------</p>
                <p class="quote">“I’m a testimonial. Click to edit me and add text that says something nice about you and your services.”</p>

            </div>
            <div class="testimonial-item">
                <img src="{{ url_for('static', filename='images/quotes.jpg') }}" alt="quote">
                <p class="author">Davis Thorne</p>
                <p class="line">----------------------</p>
                <p class="quote">“I’m a testimonial. Click to edit me and add text that says something nice about you and your services.”</p>

            </div>
        </div>
    </div>
</section>


    <div id="contact-section" style="background-color: #FFF2D7; padding: 2rem; text-align: center;">
  <h1 style="font-size: 2.3rem; margin-bottom: 4rem;">GET IN TOUCH</h1>
  <div style="display: flex; justify-content: center; gap: 2rem;">
    <div>
      <div style= "display: flex; justify-content: center; align-items: center; margin: 0 auto 1rem;">
        <img src="{{ url_for('static', filename='images/email.jpg') }}" alt="Email icon" style="width: 50px; height: 40px;">
      </div>
      <p style="margin-bottom: 2rem;">Send us an email here</p>
      <div style=" display: flex; justify-content: center; align-items: center; margin: 0 auto 1rem;">
        <img src="{{ url_for('static', filename='images/phone.jpg') }}" alt="Phone icon" style="width: 50px; height: 40px;">
      </div>
      <p style="margin-bottom: 1rem;">123-456-7890</p>
      <p>Monday - Friday: 10.00 am - 7.00 pm</p>
        <br>
        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Insta icon" style="width: 50px; height: 45px;">
      <p style="line-height:1.5;margin-top: 0.5rem;">@spectrumcare<br>Keep up with us on social media</p>
    </div>
    <form style=" padding-left:50px;display: flex; flex-direction: column; gap: 1rem; width: 300px;">
      <input type="text" name="name" placeholder="Your name" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
      <input type="tel" name="phone" placeholder="Contact No." style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
      <input type="email" name="email" placeholder="Email address" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
      <textarea name="message" placeholder="Type message here..." rows="4" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;"></textarea>
        <br>
      <button type="submit" style="background-color: #e9a8a1; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">SUBMIT</button>
    </form>
  </div>
  <div style="margin-top: 2rem; display: flex; justify-content: center; gap: 2rem; font-size: 0.8rem;">
    <a href="#" style="color: grey;">Privacy Policy</a>
    <a href="#" style="color: grey;">Terms of Service</a>
  </div>
  <p style="margin-top: 1rem; font-size: 0.8rem; color: grey;">Copyright © 2024 Spectrum Care ®</p>
</div>


    <!-- Up Arrow Button -->
    <button onclick="scrollToTop()" id="upArrow" title="Go to top">
        &#x25B2;
    </button>


    <script>
    // Show the button when the user scrolls down 20px from the top

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("upArrow").style.display = "block";
        } else {
            document.getElementById("upArrow").style.display = "none";
        }
    }

    // Smooth scroll to the top of the page when the button is clicked
    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
    </script>
</body>
</html>


