<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervention Plan - Games</title>
    <link rel="stylesheet" href="/static/styles/style_intervention.css">
</head>
<body>
    <a href="{{ url_for('parentDashboard') }}" class="back-to-dashboard">
        <img src="{{ url_for('static', filename='images/dashboard_icon.png') }}" alt="Dashboard Icon"
            class="dashboard-icon">
        Back to Dashboard
    </a>
    <div class="container">
        <h1>Game-Based Interventions</h1>
        <div class="games-list">
            <!-- Include index.html as the first game -->
            <div class="game-card">
                <h2>Count Quest</h2>
                <img src="/static/images/countQuest.jpg" alt="Count Quest Game Image" class="game-image">
                <a href="{{ url_for('countingGame') }}" class="game-link">Start Counting Game</a>
            </div>

            <div class="game-card">
                <h2>FlashCards</h2>
                <img src="/static/images/flashcards.jpg" alt="FlashCards Game Image" class="game-image">
                <a href="{{ url_for('flashcardGame') }}" class="game-link">Start FlashCard Game</a>
            </div>

            <div class="game-card">
                <h2>Twisted Trails</h2>
                <img src="static/images/mazeGame.jpg" alt="Twisted Trails Game Image" class="game-image">
                <a href="{{ url_for('mazeGame') }}" class="game-link">Start Maze Game</a>
            </div>

            <div class="game-card">
                <h2>Color Craft</h2>
                <img src="/static/images/colorGame.jpg" alt="Color Craft Game Image" class="game-image">
                <a href="https://payal0202.github.io/Color_Game/" class="game-link">Start Color Game</a>
            </div>

            <!-- Iterate through other games -->
            {% for game in games %}
                <div class="game-card">
                    <h2>{{ game.name }}</h2>
                    <img src="path/to/{{ game.image }}" alt="{{ game.name }} Game Image" class="game-image">
                    <a href="{{ url_for('game_details', game_id=game.id) }}" class="game-link">Start Game</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
